html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/* 
a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}

p.listtext {
  margin-bottom: 0px !important;
}

.list_container {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, 330px);
  grid-gap: 0 10px;
  overflow-x: hidden;
  margin-left: auto;
  width: 100%;
}

.user_image {
  /* height: 300px; */

  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.ant-card-body {
  padding: 0px !important;
}

.userdetails {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-inline: 10px;
}

.userlist {
  display: flex;
  flex-direction: column;
}

.user_name {
  margin-bottom: 5px;
  color: #000000;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 0px;
  color: #000000;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 3px;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 0px;
  color: #000000;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 3px;
}

.website {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 0px;
  color: #000000;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.buttons {
  width: 100vw;
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.55) !important;
}

.ant-btn {
  padding: 4px 46.6px !important;
}

@media only screen and (max-width: 599px) {
  .list_container {
    grid-template-columns: repeat(auto-fill, 100vw);
  }
  .ant-btn {
    padding: 4px 52px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .list_container {
    grid-template-columns: repeat(auto-fill, 32vw);
  }
  .ant-btn {
    padding: 4px 30px !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
